[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arxiv-base = "==0.12.1"
flask = "*"
requests = "*"
arxiv-auth = "==0.2.6"
"boto3" = "==1.7.84"
celery = "*"
pytest = "*"
mysqlclient = "==1.4.2"

[dev-packages]
moto = "==1.3.4"
jsonschema = "*"
openapi-spec-validator = "*"
mypy = "*"
pylint = "*"
"nose2" = "*"
coveralls = "*"
coverage = "*"
importlib_resources = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"

[requires]
python_version = "3.6"
