[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arxiv-base = "*"
flask = "*"
requests = "*"
arxiv-auth = "==0.1.0rc6"

[dev-packages]
jsonschema = "*"
openapi-spec-validator = "*"

[requires]
python_version = "3.6"
