[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arxiv-base = "*"
flask = "*"
requests = "*"
arxiv-auth = "==0.1.0rc6"
"boto3" = "==1.7.84"
moto = "==1.3.4"

[dev-packages]
jsonschema = "*"
openapi-spec-validator = "*"
mypy = "*"
pylint = "*"
"nose2" = "*"
coveralls = "*"
coverage = "*"

[requires]
python_version = "3.6"
