apiVersion: v1
kind: ConfigMap
metadata:
  name: compiler-dev-configmap
  namespace: default
data:
  VERSION: 2021-04-16-V1
  ANOTE: "Sample Google Cloud Kubernetes compiler configuration"
  SECRET_KEY: "not secure only use for development"
  JWT_SECRET: "foosecret"
  DOCKER_HOST: "tcp://localhost:2375"
  REDIS_ENDPOINT: "10.190.78.203"
  AWS_S3_REGION_NAME: "us-east-1"
  S3_ENDPOINT: "http://10.92.5.117:4572"
  S3_VERIFY: "0"
  S3_USE_SSL: ''
  S3_DEBUG: 'true'
  CONVERTER_DOCKER_IMAGE: "gcr.io/arxiv-compiler-dev/autotex/2020.05"
  CONVERTER_IMAGE_PULL: "1"
  FILEMANAGER_ENDPOINT: "https://arxiv.org"
  FILEMANAGER_SERVICE_HOST: "arxiv.org"
  FILEMANAGER_PROTO: "https"
  FILEMANAGER_SERVICE_PORT: "443"
  FILEMANAGER_SERVICE_PORT_443_PROTO: "https"
  FILEMANAGER_PATH: "/"
  FILEMANAGER_CONTENT_PATH: "/src/{source_id}"
  FILEMANAGER_STATUS_ENDPOINT: ""
  FILEMANAGER_VERIFY_CHECKSUM: "0"
  LOGLEVEL: "10"
  FLASK_APP: /opt/arxiv/app.py
  FLASK_DEBUG: "1"
  DIND_SOURCE_ROOT: "/sources/autotex"
  WORKER_SOURCE_ROOT: "/sources/autotex"
  VERBOSE_COMPILE: "1"
  VAULT_ENABLED: "0"
  NAMESPACE: "production"
  KUBE_TOKEN: "fookubetoken"
  WAIT_FOR_SERVICES: "1"
  WAIT_ON_STARTUP: "5"